@font-face {
    font-family: "Komika";
    src: url("/styles/fonts/Komika-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/styles/fonts/OpenSans-Regular.ttf");
    font-weight: normal;
}

* {
    font-family: "Open Sans", Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, .button, .button-text, #character-speech {
    font-family: "Komika", "Open Sans", Verdana, sans-serif;
    letter-spacing: 1px;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

h3, h4 {
    font-size: 22px;
}

h5, h6 {
    font-size: 18px;
}

p {
    line-height: 150%;
}

.button {
    font-size: 18px;
}

#character-speech {
    font-size: 17px;
}

cite {
    font-size: 14px;
    font-style: italic;
}

#copyright {
    font-size: 14px;
}

/* smallest screens */
@media (max-width: 700px) {
    #character-speech {
        font-size: 15px;
    }
}