<p>Last updated: January 1, 2019.</p>

<h2>About these Terms</h2>
<p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the Hexa Snap
    Android app, the Hexa Snap iOS app and the <a href="/">https://hexasnap.com</a> website (the
    "Service" or "Services" and the "Game" or "Games") operated by Hexa Snap ("us", "we", or "our").</p>
<p>These terms apply to your download, access and/or use of the Hexa Snap game, whether on your computer, on a
    mobile device, on our website <a href="/">https://hexasnap.com</a> or any other website, device or platform.
    These terms also apply to any other services that we may provide in relation to the Service, such as
    customer support, social media and community channels. These terms are a legal agreement and contain important
    information about your rights and obligations in relation to our Service.</p>
<p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms.
    These Terms apply to all visitors, users and others who access or use the Service.</p>
<p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the
    terms then you may not access the Service.</p>
<p>If you do not agree to these terms or any future updated version of them then you must not access and/or use,
    and must cease all access and/or use of, any of our Services. If we require that any future update to these
    terms requires any action from you in order to accept the updated terms, then you may not be able to continue to
    use the Services until you have taken such action.</p>
<p>You agree that you are at least 13 years old and that if you are between 13 years and 18 years old, your legal
    guardian has reviewed and agrees to these terms and accepts that you access and/or use our Services.</p>


<h2>About accessing and using our Services</h2>
<p>You are responsible for the internet connection and/or mobile charges that you may incur for accessing and/or
    using our Services. You should ask your mobile operator or internet service provider if you are unsure what
    these charges will be, before you access and/or use our Services.</p>
<p>There may be times when our Services or any part of them are not available for technical or maintenance
    related reasons, whether on a scheduled or unscheduled basis.</p>


<h2>Links To Other Web Sites</h2>
<p>Our Service may contain links to third-party web sites or services that are not owned or controlled by Hexa
    Snap.
</p>
<p>Hexa Snap has no control over, and assumes no responsibility for, the content, privacy policies, or practices
    of any third party web sites or services. You further acknowledge and agree that Hexa Snap shall not be
    responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in
    connection with use of or reliance on any such content, goods or services available on or through any such web sites
    or services.</p>
<p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or
    services that you visit.</p>


<h2>Accounts</h2>
<p>When using our Services you may choose to create an account with us.</p>
<p>If you do create an account with us, you agree that you shall take all steps necessary to protect your log
    in details and keep them secret.</p>
<p>You are responsible for safeguarding the log in details that you use to access the Service.</p>
<p>We will be entitled to assume that anyone logging into your account using your log in details is either you
    or someone logging in with your permission. If you fail to keep your login details secret, or if you share your
    login details or account with someone else (whether intentionally or unintentionally), you accept full
    responsibility for the consequences of this (including any unauthorized purchases) and agree to not be
    compensated for any losses or harm that may result.</p>
<p>We will not be responsible to you for any loss that you suffer as a result of an unauthorized person
    accessing your account and/or using our Services and we accept no responsibility for any losses or harm resulting
    from its unauthorized use, whether fraudulently or otherwise.</p>
<p>We reserve the right to delete your account if no activity is conducted by you in relation to the account for
    365 or more days. In such event, you may no longer be able to access and/or use any Virtual Money and/or Virtual
    Goods (as defined below) associated with that account and no refund will be offered to you in relation to
    the same.</p>
<p>You understand that if you delete your account, or if we delete your account in accordance with these terms,
    you may lose access to any data previously associated with your account (including, without limitation, your
    progress through our Games and/or the level or score you have reached in our Games and any Virtual Money or
    Virtual Goods associated with your account).</p>
<p>YOU ACKNOWLEDGE AND AGREE THAT YOU SHALL HAVE NO OWNERSHIP OR OTHER PROPERTY INTEREST IN ANY ACCOUNT THAT YOU
    CREATE USING ANY OF OUR SERVICES. WE MAY SUSPEND, TERMINATE, MODIFY OR DELETE ANY OF THESE ACCOUNTS AT ANY
    TIME FOR ANY REASON OR NO REASON, WITH OR WITHOUT NOTICE TO YOU.</p>
<p>Your account is personal to you and you are not entitled to transfer your account to any other person.</p>
<p>You agree that you must not create several accounts at the same time or create another account after your
    previous account was deleted by us. You can create another account only if you chose to delete your previous
    account.
</p>
<p>When you create an account on our Service, we provide a link or a button to access the Privacy Policy during
    the process. We consider that you read this Terms and our Privacy Policy entirely before creating an account and
    you accept them. If you disagree with our Privacy Policy, you may not create an account.</p>
<p>You can find the Privacy Policy of the Service here: <a href="/privacy">https://hexasnap.com/privacy</a>.</p>


<h2>Virtual Money and Virtual Goods</h2>
<p>Our Games may include virtual currencies such as Hexacoins (“Virtual Money") or items or services for use
    with our Games (“Virtual Goods"). You agree that once purchased Virtual Money and/or Virtual Goods have no
    monetary value and can never be exchanged for real money, real goods or real services from us or anyone else. You
    agree that Virtual Money and/or Virtual Goods are not transferrable to anyone else and you will not transfer or
    attempt to transfer any Virtual Money and/or Virtual Goods to anyone else.</p>
<p>You do not own Virtual Goods or/and Virtual Money but instead you purchase a limited personal
    revocable licence to use them - any balance of Virtual Goods and/or Virtual Money does not reflect any
    stored value.</p>
<p>You agree that all sales by us to you of Virtual Money and/or Virtual Goods are final, that we will not
    refund any transaction once it has been made. If you live in the European Union you have certain rights to withdraw
    from distance purchases. However, please note that when you purchase a licence to use Virtual Goods or Virtual Money
    from us, you acknowledge and agree that we will begin the provision of the Virtual Goods or Virtual Money to you
    promptly once your purchase is complete and therefore your right of withdrawal is lost at this point. For the
    purposes of this paragraph, a "purchase" is complete at the time our servers validate your purchase and the
    applicable Virtual Goods and/or Virtual Money are successfully credited to your account on our servers.</p>
<p>If you do not connect your game play on a device to an account that is linked to either your social network
    account or a Hexa Snap account, we will not be able to restore any Virtual Money or other data associated
    with your Game play to a different device if you lose that device or it is damaged. Accordingly, on a device which
    is not connected in this way:</p>
<ul>
    <li>any risk of loss of Virtual Money which you purchase from us is transferred to you upon completion
        of the purchase as described above</li>
    <li>any risk of loss of Virtual Money that you receive from us without making a purchase is transferred
        to you at the time the Virtual Money is successfully credited to your account on our servers</li>
    <li>any risk of loss of other data associated with your Game play (including, without limitation, your
        progress through the Game, or the level or score you have reached in the Game) is transferred to you
        immediately at the time such Game play data is generated</li>
</ul>

<p>The data associated with Virtual Goods, whether purchased by you using Virtual Money or otherwise credited or
    awarded to you, is stored locally on your device and so is not synced between different devices even if you
    have connected your game play on a device to an account that is linked to either your social network account or
    Hexa Snap account. Accordingly, any risk of loss of this data is transferred to you:</p>
<ul>
    <li>in the case of Virtual Goods which you purchase from us, upon completion of the purchase as
        described above</li>
    <li>in other cases, at the time the Virtual Goods are credited or awarded to you</li>
</ul>

<p>We reserve the right to control, regulate, change or remove any Virtual Money and/or Virtual Goods
    without any liability to you at any time.</p>
<p>We may revise the pricing for Virtual Goods and/or Virtual Money offered through the Services at
    any time. We may limit the total amount of Virtual Goods or Virtual Money that may be purchased at any one
    time, and/or limit the total amount of Virtual Money or Virtual Goods that may be held in your account in the
    aggregate. You are only allowed to obtain Virtual Money and Virtual Goods from us through the Services, and not in
    any other way.</p>
<p>Depending on your platform, any Virtual Goods and/or Virtual Money purchased is purchased from your
    platform provider and such purchase will be subject to its terms of service and user agreement. Usage rights
    for each purchase may differ from item to item. If you are unsure about usage rights you should check with your
    platform before making a purchase. Unless otherwise shown, content available in any in-game store has the same age
    rating as the Game.</p>
<p>If we suspend or terminate your account in accordance with these terms you may lose any Virtual Money and/or
    Virtual Goods that you may have and we will not compensate you for this loss or make any refund to you.</p>


<h2>User conduct and content</h2>
<p>You must comply with the laws that apply to you in the location that you access our Services from. If any
    laws applicable to you restrict or prohibit you from using our Services, you must comply with those legal
    restrictions or, if applicable, stop accessing and/or using our Services.</p>
<p>You promise that all the information you provide to us on accessing and/or using our Services is and shall
    remain true, accurate and complete at all times.</p>
<p>Information, data, software, sound, photographs, graphics, video, tags, or other materials may be sent,
    uploaded, communicated, transmitted or otherwise made available via our Services by you or another user (“Content”).
    You understand and agree that all Content that you may be sent when using our Services, whether publicly posted
    or privately sent, is the sole responsibility of the person that sent the Content. This means that you, not us,
    are entirely responsible for all Content that you may upload, communicate, transmit or otherwise make available
    via our Services.</p>
<p>You agree not to upload, communicate, transmit or otherwise make available any Content:</p>
<ul>
    <li>that is or could reasonably be viewed as unlawful, harmful, harassing, defamatory, libellous,
        obscene or otherwise objectionable</li>
    <li>that is or could reasonably be viewed as invasive of another's privacy</li>
    <li>that is likely to, or could reasonably be viewed as likely to incite violence or racial or ethnic
        hatred</li>
    <li>which you do not have a right to make available lawfully (such as inside information, information
        which belongs to someone else or confidential information)</li>
    <li>which infringes any intellectual property right or other proprietary right of others</li>
    <li>which consists of any unsolicited or unauthorized advertising, promotional materials, 'junk mail',
        'spam', 'chain letters', 'pyramid schemes' or any other form of solicitation</li>
    <li>which contains software viruses or any other computer code, files or programs designed to interrupt,
        destroy or limit the functionality of any computer software or hardware or telecommunications
        equipment</li>
</ul>

<p>You agree that you will not:</p>
<ul>
    <li>use our Services to harm anyone or to cause offence to or harass any person</li>
    <li>create more than one account per platform to access our Services</li>
    <li>use another person or entity’s email address in order to sign up to use our Services</li>
    <li>use our Services for fraudulent or abusive purposes (including, without limitation, by using our
        Services to impersonate any person or entity, or otherwise misrepresent your affiliation with a
        person, entity or our Services)</li>
    <li>disguise, anonymise or hide your IP address or the source of any Content that you may upload</li>
    <li>use our Services for any commercial or business purpose or for the benefit of any third party or to
        send unsolicited communications</li>
    <li>remove or amend any proprietary notices or other ownership information from our Games or any other
        part of our Services</li>
    <li>interfere with or disrupt our Services or servers or networks that provide our Services</li>
    <li>attempt to decompile, reverse engineer, disassemble or hack any of our Services, or to defeat or
        overcome any of our encryption technologies or security measures or data transmitted, processed or
        stored by us</li>
    <li>'harvest', 'scrape' or collect any information about or regarding other people that use our
        Services, including, but not limited to any personal data or information (including by uploading anything that
        collects information including but not limited to 'pixel tags' cookies, graphics interchange formats
        ('gifs') or similar items that are sometimes also referred to as 'spyware' or 'pcms' (passive
        collection mechanisms)</li>
    <li>sell, transfer or try to sell or transfer an account with us or any part of an account, Virtual
        Money and/or Virtual Goods</li>
    <li>disrupt the normal flow of a Game or otherwise act in a manner that is likely to negatively affect
        other players' ability to compete fairly when playing our Games or engaging in real time exchanges</li>
    <li>disobey any requirements or regulations of any network connected to our Services</li>
    <li>use our Services in violation of any applicable law or regulation</li>
    <li>use our Services to cheat or design or assist in cheating (for example, by using automated means or
        third party software to play), or to otherwise circumvent technological measures designed to control
        access to, or elements of, our Services, or to do anything else that a reasonable person is likely
        to believe is not within the spirit of fair play or these terms</li>
    <li>use our Services in any other way not permitted by these terms</li>
</ul>

<p>We do not control Content posted on our Services by other people and therefore we do not guarantee the
    accuracy, integrity or quality of that Content. You understand that when using our Services, you may be exposed to
    Content that you may consider offensive, indecent or objectionable. Under no circumstances will we be liable in any
    way for any Content, including, but not limited to, any errors or omissions in any Content, or any losses or
    harm of any kind resulting from the use of any Content posted, emailed, transmitted or otherwise made available via
    our Services.</p>
<p>We have the right to remove uploaded Content from our Services if we decide in our sole discretion that it
    results in or from a breach of any part of these terms, or that it may bring us or our Services into
    disrepute. However, you acknowledge that we do not actively monitor Content that is contributed by people that use
    our Services and we make no undertaking to do so.</p>
<p>You are solely responsible for your interactions with other users of our Services including the content you
    share on social medias (content refers to image capture of the Game, scores, reached level, etc).</p>


<h2>Termination</h2>
<p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any
    reason whatsoever, including without limitation if you breach the Terms.</p>
<p>All provisions of the Terms which by their nature should survive termination shall survive termination,
    including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of
    liability.</p>
<p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason
    whatsoever, including without limitation if you breach the Terms.</p>
<p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your
    account, you may simply discontinue using the Service.</p>


<h2>Availability of the Services</h2>
<p>We do not guarantee that any of our Services will be available at all times or at any given time or that we
    will continue to offer all or any of our Services for any particular length of time. We may change and update our
    Services without notice to you. We make no warranty or representation regarding the availability of our
    Services and reserve the right to modify or discontinue the Services in our sole discretion without notice,
    including for example, ceasing a Game or other Service for economic reasons due to a limited number of users
    continuing to make use of that Game or other Service over time, for technical reasons (such as technical
    difficulties experienced by us or on the internet) or to allow us to improve user experience.</p>
<p>YOU ACKNOWLEDGE AND AGREE THAT ANY OR ALL OF OUR SERVICES MAY BE TERMINATED IN WHOLE OR IN PART AT OUR SOLE
    DISCRETION WITHOUT NOTICE TO YOU. YOU ASSUME ANY AND ALL RISK OF LOSS ASSOCIATED WITH THE TERMINATION OF OUR
    SERVICES.</p>
<p>We do not guarantee that any of our Services will be available or error-free at all times or at any given
    time. We will provide our Services in accordance with any legally required standards. In particular, in relation
    only to any Virtual Money and/or Virtual Goods or any other part of our Services which have been paid-for with
    real money, we warrant that they will substantially comply with the description provided by it at the point of
    purchase and be of satisfactory quality (in addition any related services provided through them will be
    provided with reasonable care and skill). We may change and update our Services in whole or in part without notice
    to you (provided always that any such changes do not result in material degradation in the functionality of any
    part of the Services which has been paid-for with real money). We make no warranty or representation regarding the
    availability of the Services which are provided free of charge (i.e. not paid-for with real money) and we
    reserve the right to modify or discontinue them in our sole discretion without notice to you, including for
    example, for economic reasons due to a limited number of users continuing to make use of them over time, for
    technical reasons (such as technical difficulties experienced by us or on the internet) or to allow us to
    improve user experience. We are not liable or responsible for any failure to perform, or delay in
    performance of, any of our obligations that is caused by events outside our reasonable control. If such
    circumstances result in material degradation in the functionality of the Services then any obligation you may have
    to make any payment to download, use or access them will be suspended for the duration of such period. We are
    entitled to modify or discontinue the Services or any part of them which are paid-for with real money in our sole
    discretion upon reasonable notice to you.</p>


<h2>Governing Law</h2>
<p>These Terms shall be governed and construed in accordance with the laws of France, without regard to its
    conflict of law provisions.</p>
<p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights.
    If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of
    these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our
    Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>
<p>You agree to compensate us, according to law, for all losses, harm, claims and expenses that may arise from
    any breach of these terms by you.</p>
<p>WE SHALL NOT BE LIABLE FOR SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES RESULTING FROM POSSESSION, USE, OR
    MALFUNCTION OF THE GAMES OR ANY OF OUR OTHER SERVICES, INCLUDING DAMAGES TO PROPERTY, COMPUTER FAILURE OR
    MALFUNCTION AND, TO THE EXTENT PERMITTED BY LAW, DAMAGES FOR PERSONAL INJURIES, EVEN IF WE HAVE BEEN ADVISED
    OF THE POSSIBILITY OF THESE DAMAGES. IN NO EVENT SHALL OUR LIABILITY EXCEED THE ACTUAL PRICE PAID BY YOU (IF
    ANY) FOR THE LICENSE TO USE VIRTUAL GOODS OR VIRTUAL MONEY OR ANY OTHER PART OF OUR GAMES OR SERVICES. SOME
    STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS AND/OR THE EXCLUSION OR LIMITATION OF DAMAGES,
    SO THE ABOVE LIMITATIONS AND/OR EXCLUSIONS MAY NOT APPLY TO YOU. THIS WARRANTY GIVES YOU SPECIFIC LEGAL RIGHTS,
    AND YOU MAY HAVE OTHER RIGHTS WHICH VARY FROM JURISDICTION TO JURISDICTION.</p>


<h2>Limitation of Liability</h2>
<p>We do not accept liability for death or personal injury resulting from our negligence or any other liability
    except for liability that may not by law be excluded.</p>
<p>Particularly, we are not responsible for:</p>
<ul>
    <li>losses or harm not caused by our breach of these terms or negligence</li>
    <li>losses or harm which are not reasonably foreseeable by you and us at the time of you agreeing to
        these terms and conditions including those losses which happen as a side effect of foreseeable losses.
        This could include loss of data, loss of opportunity, service interruption, computer or other device
        failure or financial loss</li>
    <li>any damage that may be caused to any device on which you access or use any of our Games or other
        Services that is caused in any way by our Services unless that damage is directly caused by our
        failure to exercise reasonable skill and care in the provision of the applicable Games or other Services</li>
    <li>any increase in loss or damage resulting from breach by you of any of these Conditions</li>
    <li>technical failures or the lack of availability of any of our Services where these are not within our reasonable
        control</li>
</ul>

<p>Subject to paragraph below and unless otherwise specified in these Terms, we do not give any warranty,
    express or implied, in relation to our Services and you acknowledge that your only right with respect to any
    problems or dissatisfaction with any of our Services is to discontinue your use of our Services.</p>
<p>Any additional legal rights which you may have as a consumer remain unaffected by these Terms.</p>


<h2>Intellectual Property</h2>
<p>You acknowledge that all copyright, trade marks, and other intellectual property rights in and relating to
    our Services is owned by or licensed to us.</p>
<p>Whilst you are in compliance with these terms, we grant you a non-exclusive, non-transferable, personal,
    revocable limited licence to access and/or use our Services (but not any related object and source code) for
    your own personal private use, in each case provided that such use is in accordance with these terms. You agree
    not to use our Services for anything else. These terms also apply to any update or patches which we may release or
    make available for any of the Services and any such update or patch shall be deemed part of the Services for the
    purposes of these terms.</p>
<p>YOU ACKNOWLEDGE AND AGREE THAT, OTHER THAN LICENSE GRANTED TO YOU BY THESE TERMS, YOU SHALL HAVE NO OWNERSHIP
    OR PROPERTY INTEREST IN ANY OF OUR SERVICES, INCLUDING WITHOUT LIMITATION ONLINE ACCOUNTS, ANY VIRTUAL MONEY
    OR VIRTUAL GOODS. You must not copy, distribute, make available to the public or create any derivative work
    from our Services or any part of our Services unless we have first agreed to this in writing.</p>
<p>In particular, you must not make use or available any
    cheats or technological measures designed to control access to, or elements of, our Services, including
    providing access to any Virtual Money and/or Virtual Goods, whether on a free of charge basis or otherwise.</p>


<h2>Changes to these Terms</h2>
<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is
    material we will try to provide at least 30 days notice prior to any new terms taking effect. What
    constitutes a material change will be determined at our sole discretion.</p>
<p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by
    the revised terms. If you do not agree to the new terms, please stop using the Service.</p>


<h2>Transferring these Terms</h2>
<p>We may wish to transfer all or a part of our rights or responsibilities under these Terms to someone else
    without obtaining your consent. You agree that we may do so provided that the transfer does not significantly
    disadvantage you. You may not transfer any of the rights we give you under these Terms unless we first agree
    to this in writing.</p>


<h2>Contact Us</h2>
<p>If you have any questions about these Terms, please contact us at <a
        href="mailto:legal@hexasnap.com">legal@hexasnap.com</a>.</p>