<p>Last updated: January 1, 2019.</p>

<h2>Legal Property</h2>
<p>The Hexa Snap app and this website are edited by Aurélien Lubecki.</p>

<h2>Hosting</h2>
<p>This website is hosted with Firebase Hosting: <a href="https://firebase.google.com/docs/hosting"
        target="_blank">https://firebase.google.com/docs/hosting</a>.</p>

<h2>Softwares and content used by Hexa Snap</h2>
<ul>
    <li><a href="https://unity.com" target="_blank">Unity</a> - Property of Unity Technologies - Proprietary
        License
    </li>
    <li><a href="https://developer.android.com/studio" target="_blank">Android Studio</a> - Apache 2.0
        License
    </li>
    <li><a href="https://developer.apple.com/xcode" target="_blank">Apple Xcode</a> - Proprietary License
    </li>
    <li><a href="https://gimp.org" target="_blank">GIMP</a> - GNU General Public License</li>
    <li><a href="https://inkscape.org" target="_blank">InkScape</a> - GNU General Public License</li>
    <li><a href="https://audacityteam.org" target="_blank">Audacity</a> - GNU General Public License</li>
    <li><a href="https://firebase.google.com" target="_blank">Firebase</a> - Property of Google - Apache 2.0
        License
    </li>
    <li><a href="https://marketingplatform.google.com/about/analytics/" target="_blank">Google Analytics</a> - Property
        of Google - Apache 2.0 License
    </li>
    <li><a href="https://admob.google.com" target="_blank">AdMob</a> - Property of Google - Apache 2.0
        License
    </li>
    <li><a href="https://developers.facebook.com/docs/unity" target="_blank">Facebook SDK for Unity</a> -
        Property of Facebook - Proprietary License</li>
    <li><a href="https://assetstore.unity.com/packages/audio/music/absolutely-free-music-4883"
            target="_blank">Absolutely Free Music</a> from <a href="https://assetstore.unity.com/publishers/2053"
            target="_blank">Vertex Studio</a> in the Unity Assets Store - Proprietary License</li>
    <li><a href="https://assetstore.unity.com/packages/audio/sound-fx/free-sound-fx-31837" target="_blank">Free
            Sound FX</a> from <a href="https://assetstore.unity.com/publishers/11689" target="_blank">SoundBits</a>
        in the Unity Assets Store - Proprietary License</li>
    <li><a href="https://www.1001fonts.com/komika-display-font.html" target="_blank">Komika Display font</a>
        from <a href="https://www.1001fonts.com/users/apostrophe/" target="_blank">Apostrophic Labs</a> -
        Proprietary License</li>
</ul>

<p>If you have any questions, please contact us at <a href="mailto:legal@hexasnap.com">legal@hexasnap.com</a>.</p>