<a href="https://play.google.com/store/apps/details?id=com.hexasnap" target="_blank" class="link-store"
    onclick="return trackOutboundLink(this, 'redirect', '<%- trackingCategory %>');">

    <img src="/images/<%- tr('translated_res_path') -%>googleplay-badge.png" class="link-store"
        alt="<%- tr('download_google_play') %>" />

</a>