<a href="<%- tr('app_store_path') -%>app/id1455788690" target="_blank" class="link-store"
    onclick="return trackOutboundLink(this, 'redirect', '<%- trackingCategory %>');">

    <img src="/images/<%- tr('translated_res_path') -%>appstore-badge.svg" class="link-store"
        alt="<%- tr('download_app_store') %>" />

</a>