<div class="flex-h social">

    <a href="https://www.facebook.com/hexasnap" target="_blank" class="flex-v button"
        onclick="trackOutboundLink(this, 'redirect', 'section-social');">

        <img class="button-icon" src="/images/icon-facebook.png" alt="Facebook" />

        <div class="button-text">
            Facebook
        </div>
    </a>

    <a href="https://twitter.com/HexaSnap" target="_blank" class="flex-v button"
        onclick="trackOutboundLink(this, 'redirect', 'section-social');">

        <img class="button-icon" src="/images/icon-twitter.png" alt="Twitter" />

        <div class="button-text">
            Twitter
        </div>
    </a>

    <a href="https://www.instagram.com/hexa_snap" target="_blank" class="flex-v button"
        onclick="trackOutboundLink(this, 'redirect', 'section-social');">

        <img class="button-icon" src="/images/icon-instagram.png" alt="Instagram" />

        <div class="button-text">
            Instagram
        </div>
    </a>

</div>