<p>Dernière mise à jour : 1er Janvier 2019.</p>

<h2>Propriété juridique</h2>
<p>L'application Hexa Snap et ce site web sont édités par Aurélien Lubecki.</p>

<h2>Hébergement</h2>
<p>Ce site Web est hébergé par Firebase Hosting : <a href="https://firebase.google.com/docs/hosting"
        target="_blank">https://firebase.google.com/docs/hosting</a>.</p>

<h2>Logiciels et contenus utilisés par Hexa Snap</h2>
<ul>
    <li><a href="https://unity.com" target="_blank">Unity</a> - Propriété de Unity Technologies -
        Licence Propriétaire
    </li>
    <li><a href="https://developer.android.com/studio" target="_blank">Android Studio</a> - Apache 2.0
        License
    </li>
    <li><a href="https://developer.apple.com/xcode" target="_blank">Apple Xcode</a> - Licence Propriétaire
    </li>
    <li><a href="https://gimp.org" target="_blank">GIMP</a> - GNU General Public License</li>
    <li><a href="https://inkscape.org" target="_blank">InkScape</a> - GNU General Public License</li>
    <li><a href="https://audacityteam.org" target="_blank">Audacity</a> - GNU General Public License</li>
    <li><a href="https://firebase.google.com" target="_blank">Firebase</a> - Propriété de Google - Apache 2.0
        License
    </li>
    <li><a href="https://marketingplatform.google.com/about/analytics/" target="_blank">Google Analytics</a> - Propriété
        de Google - Apache 2.0 License
    </li>
    <li><a href="https://admob.google.com" target="_blank">AdMob</a> - Propriété de Google - Apache 2.0
        License
    </li>
    <li><a href="https://developers.facebook.com/docs/unity" target="_blank">Facebook SDK for Unity</a> -
        Propriété de Facebook - Licence Propriétaire</li>
    <li><a href="https://assetstore.unity.com/packages/audio/music/absolutely-free-music-4883"
            target="_blank">Absolutely Free Music</a> de <a href="https://assetstore.unity.com/publishers/2053"
            target="_blank">Vertex Studio</a> dans le Unity Assets Store - Licence Propriétaire</li>
    <li><a href="https://assetstore.unity.com/packages/audio/sound-fx/free-sound-fx-31837" target="_blank">Free
            Sound FX</a> de <a href="https://assetstore.unity.com/publishers/11689" target="_blank">SoundBits</a>
        in the Unity Assets Store - Licence Propriétaire</li>
    <li><a href="https://www.1001fonts.com/komika-display-font.html" target="_blank">Komika Display font</a>
        de <a href="https://www.1001fonts.com/users/apostrophe/" target="_blank">Apostrophic Labs</a> -
        Licence Propriétaire</li>
</ul>

<p>Si vous avez des questions, n'hésitez pas à nous contacter à <a href="mailto:legal@hexasnap.com">legal@hexasnap.com</a>.</p>