<p>Dernière mise à jour : 1er Janvier 2019.</p>

<h2>À propos de cette Politique de Confidentialité </h2>
<p>Hexa Snap ("nous", "notre" ou "nos") exploite l'application mobile Hexa Snap (ci-après dénommée le
    "Service" ou les "Services" et le "Jeu" ou les "Jeux").</p>
<p>Cette page vous informe de nos politiques concernant la collecte, l'utilisation et la divulgation des données
    personnelles lorsque vous utilisez notre Service et les choix que vous avez pour à ces données.</p>
<p>Nous utilisons vos données pour faire fonctionner et améliorer le Service. En utilisant le Service, vous consentez à
    la collecte et à l'utilisation de ces information conformément à la présente politique. Sauf définition contraire
    dans la présente Politique de Confidentialité, les termes utilisés dans cette Politique de Confidentialité ont le
    même sens que dans nos Conditions Générales d'Utilisation.</p>


<h2>Définitions</h2>
<ul>
    <li>
        <h4>Service</h4>
        <p>Le Service est l'application mobile Hexa Snap ainsi que ce site web exploités par Hexa Snap.</p>
    </li>
    <li>
        <h4>Donnée personnelle</h4>
        <p>Les données personnelles désignent les données concernant une personne vivante pouvant être identifiées à
            partir de ces données (ou à partir de ces informations et d'autres informations en notre possession ou
            susceptibles d'entrer en notre possession).</p>
    </li>
    <li>
        <h4>Données d'utilisation</h4>
        <p>Les données d'utilisation sont des données collectées automatiquement, soit générées par l'utilisation du
            Service, soit par l'infrastructure du Service elle-même (par exemple, la durée de la consultation d'une
            page).</p>
    </li>
    <li>
        <h4>Cookies</h4>
        <p>Les cookies sont de petits fichiers stockés sur votre appareil (ordinateur ou appareil mobile).</p>
    </li>
</ul>


<h2>Collecte et utilisation des informations </h2>
<p>Nous recueillons différents types d'informations à diverses fins pour vous fournir et améliorer notre service. Voici
    les types de données recueillies:</p>
<ul>
    <li>
        <h4>Donnée personnelle</h4>
        <p>Lors de l'utilisation de notre Service, nous pouvons vous demander de nous fournir certaines informations
            personnelles identifiables qui peuvent être utilisées pour vous contacter ou vous identifier ("Données
            personnelles"). Les informations personnelles identifiables peuvent inclure, mais sans s'y limiter, les
            Cookies et les Données d'Utilisation.</p>
    </li>
    <li>
        <h4>Données d'utilisation</h4>
        <p>Lorsque vous accédez au Service par ou via un appareil mobile, nous pouvons recueillir automatiquement
            certaines informations, y compris, mais sans s'y limiter, le type d'appareil mobile que vous utilisez, l'ID
            unique de votre appareil mobile, l'adresse IP de votre appareil mobile, votre système d'exploitation mobile,
            le type de navigateur Internet mobile que vous utilisez, les ID uniques des appareils et autres données de
            diagnostic (" données d'usage ").</p>
    </li>
    <li>
        <h4>Cookies</h4>
        <p>Les cookies sont des fichiers contenant une petite quantité de données qui peuvent inclure un identifiant
            unique anonyme. Des cookies sont envoyés à votre navigateur à partir d'un site Web et stockés sur votre
            appareil. D'autres technologies de suivi sont également utilisées comme les balises et les scripts pour
            collecter et suivre les informations et pour améliorer et analyser notre Service.</p>
    </li>
</ul>


<h2>Données d'utilisation</h2>

<p>Hexa Snap utilise les données recueillies à diverses fins :</p>
<ul>
    <li>Pour délivrer et maintenir le Service</li>
    <li>Pour vous informer des changements apportés à notre service</li>
    <li>Pour vous permettre de participer aux fonctions interactives de notre Service lorsque vous choisissez de le
        faire</li>
    <li>Pour fournir un service client et un support</li>
    <li>Pour fournir des analyses ou des informations précieuses afin que nous puissions améliorer le Service</li>
    <li>Surveiller l'utilisation du Service</li>
    <li>Détecter, prévenir et résoudre les problèmes techniques </li>
</ul>


<h2>Transfert de données</h2>
<p>Vos informations, y compris vos données personnelles, peuvent être transférées et conservées sur des ordinateurs
    situés en dehors de votre État, province, pays ou autre juridiction gouvernementale où les lois sur la protection
    des données peuvent différer de celles de votre juridiction.</p>
<p>Si vous êtes situé hors de France et que vous choisissez de nous fournir des informations, veuillez noter que nous
    transférons les données, y compris les données personnelles, en France et les traitons là-bas.</p>
<p>Votre consentement à la présente Politique de Confidentialité, suivi de la présentation de ces renseignements,
    constitue votre consentement à ce transfert.</p>
<p>Hexa Snap prendra toutes les mesures raisonnablement nécessaires pour s'assurer que vos données sont traitées en
    toute sécurité et conformément à cette Politique de Confidentialité et aucun transfert de vos données personnelles
    ne sera effectué vers une organisation ou un pays à moins que des contrôles adéquats soient en place, notamment la
    sécurité de vos données et autres informations personnelles.
</p>


<h2>Divulgation des données</h2>
<p>Hexa Snap peut divulguer vos Données Personnelles en toute bonne foi, dans la conviction qu'une telle action est
    nécessaire :</p>
<ul>
    <li>Pour se conformer à une obligation légale</li>
    <li>Pour protéger et défendre les droits ou la propriété de Hexa Snap</li>
    <li>Pour prévenir ou enquêter sur d'éventuels actes répréhensibles en rapport avec le Service</li>
    <li>Pour protéger la sécurité personnelle des utilisateurs du Service ou du public</li>
    <li>Pour se protéger contre des poursuites judiciaires</li>
</ul>


<h2>Sécurité des données</h2>
<p>La sécurité de vos données est importante pour nous, mais n'oubliez pas qu'aucune méthode de transmission sur
    Internet ou de stockage électronique n'est sûre à 100%. Bien que nous nous efforcions d'utiliser des moyens
    commercialement acceptables pour protéger vos données personnelles, nous ne pouvons garantir leur sécurité absolue.
</p>


<h2>Suppression des données</h2>
<p>Si vous souhaitez supprimer vos données personnelles sur nos serveurs, vous devez fermer/supprimer votre compte par
    vous-même dans le Jeu.</p>
<p>Comme notre Service ne stocke aucun email, nous n'avons aucun moyen d'identifier votre compte et de supprimer votre
    compte pour vous.</p>
<p>Nous garantissons qu'en clôturant/supprimant votre compte, toutes vos données personnelles reconnaissables seront
    automatiquement supprimées pendant une période de 7 jours. Ceci n'inclut pas les données anonymes comme la
    progression du jeu, la Monnaie Virtuelle ou les Biens Virtuels, les données tracées qui ne permettent pas
    d'identifier quelqu'un.</p>
<p>Après la fermeture/suppression d'un compte, nous ne pourrons plus réactiver votre compte tel qu'il était auparavant.
</p>
<p>Si vous nous avez envoyé un ou plusieurs emails et que vous souhaitez que les données associées à ces emails soient
    supprimées, vous pouvez envoyer un autre email à <a href="mailto:support@hexasnap.com">support@hexasnap.com</a> où
    vous nous demandez explicitement de fermer ou de supprimer votre compte. Nous supprimerons tous les emails que vous
    avez envoyés de nos comptes emails pendant une période de 30 jours. La suppression des emails ne comprend pas les
    emails requis pour la comptabilité et les emails qui peuvent être utilisés légalement au cas où vous enfreindriez
    nos Conditions Générales d'Utilisation.</p>
<p>Nous garantissons que vos données personnelles seront effacées après une période de 3 ans à compter du jour où vous
    cessez d'utiliser le Service.</p>


<h2>Fournisseurs de services</h2>
<p>Nous pouvons faire appel à des sociétés et personnes tierces pour faciliter notre Service ("Fournisseurs de
    services"), pour fournir le Service en notre nom, pour exécuter des services liés au Service ou pour nous aider à
    analyser comment notre Service est utilisé.</p>
<p>Ces tiers n'ont accès à vos données personnelles que pour effectuer ces tâches en notre nom et sont obligés de ne pas
    les divulguer ou les utiliser à d'autres fins.</p>
<p>Nous pouvons faire appel à des fournisseurs de services tiers pour surveiller et analyser l'utilisation de notre
    Service.</p>
<ul>
    <li>
        <h4>Services Google Play</h4>
        <p>Pour Android uniquement, les Services Google Play peuvent collecter certaines Données Personnelles pour les
            téléchargements d'applications, les Achats In-App, etc.</p>
        <p>Veuillez lire : <a href="https://policies.google.com/privacy"
                target="_blank">https://policies.google.com/privacy</a>.</p>
    </li>
    <li>
        <h4>App Store</h4>
        <p>Pour iOS uniquement, l'App Store d'Apple peut collecter certaines Données Personnelles pour les
            téléchargements d'applications, les Achats In-App, etc.</p>
        <p>Veuillez lire : <a href="https://www.apple.com/legal/privacy"
                target="_blank">https://www.apple.com/legal/privacy</a>.</p>
    </li>
    <li>
        <h4>Unity Analytics</h4>
        <p>Unity Analytics est fourni par Unity Technologies.</p>
        <p>FPour plus d'informations sur le type d'informations collectées par Unity Analytics, veuillez consulter leur
            Politique de Confidentialité : <a href="https://unity3d.com/legal/privacy-policy"
                target="_blank">https://unity3d.com/legal/privacy-policy</a>.</p>
    </li>
    <li>
        <h4>Firebase Analytics</h4>
        <p>Firebase Analytics est un service d'analyse pour les applications mobiles fourni par Google.</p>
        <p>Vous pouvez consulter leur Politique de Confidentialité ici : <a
                href="https://firebase.google.com/support/privacy"
                target="_blank">https://firebase.google.com/support/privacy</a>.
        </p>
    </li>
    <li>
        <h4>Firebase Authentication</h4>
        <p>Firebase Authentication is an authentication service for website and apps provided by Google. The
            only login provider authorized by the Service in Firebase Authentication is Facebook. No email is asked or
            required during the login process.</p>
        <p>Vous pouvez consulter leur Politique de Confidentialité ici : <a
                href="https://firebase.google.com/support/privacy"
                target="_blank">https://firebase.google.com/support/privacy</a>.
        </p>
    </li>
    <li>
        <h4>Facebook</h4>
        <p>Le Service utilise le SDK Facebook pour se connecter à Facebook en plus de Firebase Authentication. Ceci
            inclut le service Facebook Analytics qui fait partie du SDK. Aucun courriel ni aucune autre donnée
            personnelle n'est demandé pendant le processus de connexion à Facebook, à l'exception du profil public
            Facebook, dont l'autorisation est requise par Facebook et ne peut être désactivée.</p>
        <p>Pour plus d'informations, veuillez consulter la Politique de Confidentialité de Facebook : <a
                href="https://www.facebook.com/full_data_use_policy"
                target="_blank">https://www.facebook.com/full_data_use_policy</a>.
        </p>
    </li>
    <li>
        <h4>AdMob</h4>
        <p>AdMob est un service publicitaire fourni par Google pour l'affichage de bannières et d'annonces
            interstitielles dans les applications. AdMob peut envoyer des données à Firebase Analytics pour collecter
            des statistiques sur les clics publicitaires par exemple.</p>
        <p>Voici la Politique de Confidentialité d'AdMob : <a href="https://support.google.com/admob/answer/6128543"
                target="_blank">https://support.google.com/admob/answer/6128543</a>.
        </p>
    </li>
    <li>
        <h4>Google Analytics</h4>
        <p>Google Analytics est un service d'analyse de site web fourni par Google pour suivre le trafic sur ce site. Ce
            site utilise la librairie gtag.js : <a
                href="https://developers.google.com/analytics/devguides/collection/gtagjs">https://developers.google.com/analytics/devguides/collection/gtagjs</a>.
            Les cookies sont utilisés par la bibliothèque Google Analytics. La durée de vie du cookie "_gid" est de 24h
            et la durée des autres cookies est la session (supprimés lorsque le navigateur est fermé). L'option
            d'anonymisation de l'adresse IP est également activée.</p>
        <p>Voici la Politique de Confidentialité des services Google : <a href="https://policies.google.com/privacy"
                target="_blank">https://policies.google.com/privacy</a>.
        </p>
    </li>
</ul>


<h2>Liens vers d'autres sites </h2>
<p>Notre Service peut contenir des liens vers d'autres sites qui ne sont pas exploités par nous. Si vous cliquez sur un
    lien tiers, vous serez dirigé vers le site de ce tiers. Nous vous conseillons fortement de consulter la politique de
    confidentialité de chaque site que vous visitez.</p>
<p>Nous n'avons aucun contrôle et n'assumons aucune responsabilité sur le contenu, les politiques de confidentialité ou
    les pratiques de tout site ou service de tiers.</p>


<h2>Protection de la vie privée des mineurs</h2>
<p>Notre service ne s'adresse pas aux personnes de moins de 13 ans. Toute personne âgée de 13 à 18 ans ("Mineurs") doit avoir l'accord de son tuteur légal pour utiliser le Service.</p>
<p>Si vous êtes un parent ou un tuteur légal et que vous apprenez que votre enfant nous a fourni des Données Personnelles, veuillez nous contacter. Si nous apprenons que nous avons recueilli des Données Personnelles auprès de mineurs sans vérification du consentement parental, nous prenons des mesures pour supprimer ces informations de nos serveurs.</p>


<h2>Modifications de la présente Politique de Confidentialité</h2>
<p>Nous pouvons mettre à jour notre Politique de Confidentialité de temps à autre. Nous vous informerons de tout changement en affichant la nouvelle Politique de Confidentialité sur cette page.</p>
<p>Nous vous conseillons de consulter périodiquement la présente Politique de Confidentialité pour prendre connaissance de tout changement. Les changements apportés à la présente Politique de Confidentialité entrent en vigueur lorsqu'ils sont affichés sur cette page.</p>


<h2>Contactez-nous</h2>
<p>Si vous avez des questions à propos de cette Politique de Confidentialité, n'hésitez pas à nous contacter par email à
    <a href="mailto:legal@hexasnap.com">legal@hexasnap.com</a>.</p>