<p>Dernière mise à jour : 1er Janvier 2019.</p>

<h2>À propos de ces Conditions</h2>
<p>Veuillez lire attentivement ces Conditions Générales d'Utilisations ("Conditions", "Conditions d'Utilisations et
    "Conditions Générales d'Utilisations") avant d'utiliser l'application Hexa Snap pour Android, l'application Hexa
    Snap pour iOS et le site Internet <a href="/">https://hexasnap.com</a> (le "Service" ou les "Services" et le "Jeu"
    ou les "Jeux") gérés par Hexa Snap ("nous", "notre" ou "nos").</p>
<p>Ces conditions s'appliquent à votre téléchargement, accès et/ou utilisation du jeu Hexa Snap, que ce soit sur votre
    ordinateur, sur un appareil mobile, sur notre site web <a href="/">https://hexasnap.com</a> ou sur tout autre site,
    appareil ou plateforme. Ces conditions s'appliquent également à tous les autres services que nous pouvons fournir en
    relation avec le Service, tels que le support client, les réseaux sociaux et les réseaux communautaires. Ces
    conditions constituent un accord juridique et contiennent des informations importantes sur vos droits et obligations
    en relation avec notre Service.</p>
<p>Votre accès et votre utilisation du Service sont conditionnés par votre acceptation et votre respect des présentes
    Conditions. Ces conditions s'appliquent à tous les visiteurs, utilisateurs et autres personnes qui accèdent ou
    utilisent le Service.</p>
<p>En accédant ou en utilisant le Service, vous acceptez d'être lié par ces Conditions. Si vous n'êtes pas d'accord avec
    une partie des conditions, vous pouvez ne pas avoir accès au Service.</p>
<p>Si vous n'acceptez pas ces conditions ou toute version mise à jour future de celles-ci, vous ne devez pas accéder
    et/ou utiliser, et devez cesser tout accès et/ou utilisation de nos Services. Si nous exigeons que toute mise à jour
    future de ces conditions nécessite une action de votre part afin d'accepter les conditions mises à jour, il se peut
    que vous ne puissiez pas continuer à utiliser les Services jusqu'à ce que vous ayez pris cette mesure.</p>
<p>Vous convenez que vous avez au moins 13 ans et que si vous avez entre 13 et 18 ans, votre tuteur légal a lu et
    accepte ces conditions et accepte que vous accédiez et/ou utilisiez nos Services.</p>


<h2>À propos de l'accès et de l'utilisation de nos Services</h2>
<p>Vous êtes responsable de la connexion Internet et/ou des frais mobiles que vous pourriez encourir pour accéder et/ou
    utiliser nos Services. Vous devez demander à votre opérateur de téléphonie mobile ou à votre fournisseur de services
    Internet si vous n'êtes pas certain de la nature de ces frais avant d'accéder et/ou d'utiliser nos Services.</p>
<p>Il peut arriver que nos Services ou une partie de ceux-ci ne soient pas disponibles pour des raisons techniques ou de
    maintenance, que ce soit sur une base planifiée ou non.</p>


<h2>Liens vers d'autres sites web</h2>
<p>Notre Service peut contenir des liens vers des sites ou services web de tiers qui ne sont pas détenus ou contrôlés
    par Hexa Snap.</p>
<p>Hexa Snap n'a aucun contrôle et n'assume aucune responsabilité quant au contenu, aux politiques de confidentialité ou
    aux pratiques des sites web ou services de tiers et n'assume aucune responsabilité à cet égard. Vous reconnaissez et
    acceptez en outre que Hexa Snap ne sera pas responsable, directement ou indirectement, de tout dommage ou perte
    causé ou prétendument causé par ou en relation avec l'utilisation ou la confiance accordée à un tel contenu, biens
    ou services disponibles sur ou par l'intermédiaire de tels sites web ou services.</p>
<p>Nous vous conseillons fortement de lire les termes et conditions et les politiques de confidentialité de tout site
    web ou service tiers que vous visitez.</p>


<h2>Comptes</h2>
<p>Lorsque vous utilisez nos Services, vous pouvez choisir de créer un compte chez nous.</p>
<p>Si vous créez un compte chez nous, vous acceptez de prendre toutes les mesures nécessaires pour protéger vos données
    d'accès et les garder secrètes.</p>
<p>Vous êtes responsable de la sauvegarde des données de connexion que vous utilisez pour accéder au Service.</p>
<p>Nous serons en droit de supposer que toute personne se connectant à votre compte à l'aide de vos données d'accès est
    soit vous, soit une personne se connectant avec votre permission. Si vous ne gardez pas vos informations de
    connexion secrètes, ou si vous partagez vos informations de connexion ou votre compte avec quelqu'un d'autre
    (intentionnellement ou non), vous acceptez d'en assumer l'entière responsabilité (y compris pour tout achat
    non-autorisé) et acceptez de ne pas être indemnisé pour toute perte ou dommage qui pourrait en résulter.</p>
<p>Nous ne serons pas responsables envers vous de toute perte que vous subirez du fait qu'une personne non autorisée
    accède à votre compte et/ou utilise nos Services et nous n'acceptons aucune responsabilité pour toute perte ou
    dommage résultant de son utilisation non-autorisée, que ce soit de manière frauduleuse ou autre.</p>
<p>Nous nous réservons le droit de supprimer votre compte si vous n'effectuez aucune activité en rapport avec le compte
    pendant 365 jours ou plus. Dans un tel cas, vous pourriez ne plus être en mesure d'accéder et/ou d'utiliser de
    l'Argent Virtuel et/ou des Biens Virtuels (tels que définis ci-dessous) associés à ce compte et aucun remboursement
    ne vous sera attribué en relation avec ce dernier.</p>
<p>Vous comprenez que si vous supprimez votre compte, ou si nous supprimons votre compte conformément à ces conditions,
    vous pouvez perdre l'accès à toutes les données précédemment associées à votre compte (y compris, sans limitation,
    votre progression dans nos Jeux) et les niveau ou scores atteint dans nos Jeux, ou tout Argent Virtuel ou biens
    Virtuels associé avec votre compte).</p>
<p>VOUS RECONNAISSEZ ET CONVENEZ QUE VOUS N'AUREZ AUCUN DROIT DE PROPRIÉTÉ OU AUTRE INTÉRÊT DE PROPRIÉTÉ DANS TOUT
    COMPTE QUE VOUS CRÉEZ EN UTILISANT L'UN DE NOS SERVICES. NOUS POUVONS SUSPENDRE, RÉSILIER, MODIFIER OU SUPPRIMER
    TOUT COMPTE À TOUT MOMENT, POUR QUELQUE RAISON QUE CE SOIT OU SANS RAISON, AVEC OU SANS PRÉAVIS.</p>
<p>Votre compte vous est personnel et vous n'avez pas le droit de transférer votre compte à une autre personne.</p>
<p>Vous convenez que vous ne devez pas créer plusieurs comptes en même temps ou créer un autre compte après que nous
    ayons supprimé votre compte précédent. Vous ne pouvez créer un autre compte que si vous avez choisi de supprimer
    votre compte précédent.</p>
<p>Lorsque vous créez un compte sur notre Service, nous fournissons un lien ou un bouton pour accéder à la Politique de
    Confidentialité pendant le processus. Nous considérons que vous avez lu ces Conditions et notre Politique de
    Confidentialité dans leur intégralité avant de créer un compte et que vous les acceptez. Si vous n'êtes pas d'accord
    avec notre Politique de Confidentialité, vous ne pouvez pas créer un compte.</p>
<p>Vous pouvez trouver la Politique de confidentialité du Service ici : <a
        href="/privacy">https://hexasnap.com/privacy</a>.</p>


<h2>Argent Virtuel et Biens Virtuels</h2>
<p>Nos Jeux peuvent inclure de la monnaie virtuelle telles que des Hexacoins ("Argent Virtuel ") ou des objets ou
    services à utiliser avec nos Jeux ("Biens Virtuels"). Vous convenez qu'une fois l'Argent Virtuel et/ou les Biens
    Virtuels achetés, ils ne peuvent jamais être échangés contre de l'argent réel, des biens réels ou des services réels
    de notre part ou de la part de qui que ce soit d'autre. Vous acceptez que l'Argent Virtuel et/ou les Biens Virtuels
    ne sont pas transférables à qui que ce soit d'autre et que vous ne transférerez pas ne tenterez pas de transférer de
    l'Argent Virtuel et/ou des Biens Virtuels à quiconque.</p>
<p>Vous ne possédez pas les Biens Virtuels et/ou l'Argent Virtuel, mais vous achetez une licence personnelle révocable
    limitée pour les utiliser - tout solde de Biens Virtuels et/ou d'Argent Virtuel ne reflète aucune valeur stockée.
</p>
<p>Vous acceptez que toutes les ventes d'Argent Virtuel et/ou de Biens Virtuels que nous vous effectuons sont finales,
    que nous n'allons pas rembourser toute transaction une fois qu'elle a été effectuée. Si vous résidez dans l'Union
    Européenne, vous disposez de certains droits de retrait des achats à distance. Toutefois, veuillez noter que lorsque
    vous achetez une licence d'utilisation de Biens Virtuels ou d'Argent Virtuel de notre part, vous reconnaissez et
    acceptez que nous commencerons à vous fournir les Biens Virtuels ou l'Argent Virtuel dès que votre achat est terminé
    et, par conséquent, votre droit de rétractation est perdu à ce stade. Aux fins du présent paragraphe, un "achat" est
    complet au moment où nos serveurs valident votre achat et les Biens Virtuels et/ou l'Argent Virtuel applicables sont
    crédités avec succès sur votre compte sur nos serveurs.</p>
<p>Si vous ne connectez pas votre partie sur un appareil lié à votre compte de réseau social ou à un compte Hexa Snap,
    nous ne pourrons pas restaurer l'Argent Virtuel ou les autres données associées à votre jeu sur un autre appareil si
    vous perdez cet appareil ou s'il est endommagé. Par conséquent, sur un appareil qui n'est pas connecté de cette
    façon :</p>
<ul>
    <li>tout risque de perte de l'Argent Virtuel que vous achetez chez nous, vous est transféré à la fin de l'achat
        comme décrit ci-dessus</li>
    <li>tout risque de perte d'Argent Virtuel que vous recevez de notre part sans faire d'achat vous est transféré au
        moment où l'Argent Virtuel est crédité avec succès à votre compte sur nos serveurs</li>
    <li>tout risque de perte d'autres données associées à votre partie (y compris, mais sans s'y limiter, votre
        progression dans le jeu ou le niveau ou le score que vous avez atteint dans le jeu) vous est transféré
        immédiatement au moment où ces données de jeu sont créées</li>
</ul>

<p>Les données associées aux Biens Virtuels, que vous les achetiez avec de l'Argent Virtuel ou que vous les utilisiez
    pour les créditer ou les attribuer, sont stockées localement sur votre appareil et ne sont donc pas synchronisées
    entre différents appareils, même si vous avez connecté votre jeu sur un appareil à un compte qui est lié soit à
    votre compte de réseau social soit à un compte Hexa Snap. En conséquence, tout risque de perte de ces données vous
    est dévolu :</p>
<ul>
    <li>dans le cas des Biens Virtuels que vous achetez chez nous, une fois l'achat terminé comme décrit ci-dessus</li>
    <li>dans les autres cas, au moment où les Biens Virtuels vous sont crédités ou attribués</li>
</ul>

<p>Nous nous réservons le droit de contrôler, réguler, modifier ou supprimer tout Argent Virtuel et/ou Bien Virtuel sans
    aucune responsabilité envers vous à tout moment.</p>
<p>Nous pouvons réviser les prix des Biens Virtuels et/ou de l'Argent Virtuel offerts par le biais des Services à tout
    moment. Nous pouvons limiter le montant total des Biens Virtuels ou de l'Argent Virtuel qui peuvent être achetés à
    tout moment, et/ou limiter le montant total de l'Argent Virtuel ou des Biens Virtuels qui peuvent être détenus dans
    votre compte dans l'ensemble. Vous n'êtes autorisés à obtenir de nous de l'Argent Virtuel et des Biens Virtuels que
    par l'intermédiaire des Services, et non d'une autre manière.</p>
<p>En fonction de votre plate-forme, tout Bien Virtuel et/ou Argent Virtuel acheté est acheté auprès de votre
    fournisseur de plate-forme et cet achat sera soumis à ses conditions de service et à son accord d'utilisation. Les
    droits d'utilisation pour chaque achat peuvent différer d'un article à l'autre. Si vous n'êtes pas sûr des droits
    d'utilisation, vous devriez vérifier auprès de votre plate-forme avant d'effectuer un achat. Sauf indication
    contraire, le contenu disponible dans n'importe quel magasin dans le Jeu a la même classification d'âge que le Jeu.
</p>
<p>Si nous suspendons ou résilions votre compte conformément à ces conditions, vous risquez de perdre de l'Argent
    Virtuel et/ou des Biens Virtuels que vous possédez et nous ne vous indemniserons pas pour cette perte ni ne vous
    rembourserons.</p>


<h2>Conduite et Contenu de l'utilisateur</h2>
<p>Vous devez vous conformer aux lois qui vous sont applicables dans l'endroit à partir duquel vous accédez à nos
    Services. Si des lois qui vous sont applicables vous restreignent ou vous interdisent d'utiliser nos Services, vous
    devez vous conformer à ces restrictions légales ou, le cas échéant, cesser d'accéder et/ou d'utiliser nos Services.
</p>
<p>Vous promettez que toutes les informations que vous nous fournissez en accédant et/ou en utilisant nos Services sont
    et resteront vraies, exactes et complètes à tout moment.</p>
<p>Les informations, données, logiciels, sons, photographies, graphismes, vidéos, tags, ou autres matériels peuvent être
    envoyés, téléchargé, communiqué, transmis ou autrement rendu disponible via nos Services par vous ou par un autre
    utilisateur (" Contenu "). Vous comprenez et acceptez que tout le Contenu qui peut vous être envoyé lors de
    l'utilisation de nos Services, qu'il soit affiché publiquement ou non ou envoyé en privé, relève de la seule
    responsabilité de la personne qui a envoyé le Contenu. Cela signifie que vous, non-nous, êtes entièrement
    responsables de tout Contenu que vous pouvez téléverser, communiquer, transmettre ou rendre disponible de quelque
    façon que ce soit via nos Services.</p>
<p>Vous acceptez de ne pas téléverser, communiquer, transmettre ou autrement rendre disponible tout Contenu :</p>
<ul>
    <li>qui est ou pourrait raisonnablement être considéré comme illégal, nuisible, harcelant, diffamatoire, calomnieux,
        obscène ou autrement répréhensible</li>
    <li>qui est ou pourrait raisonnablement être considérée comme une atteinte à la vie privée d'une autre personne</li>
    <li>qui est susceptible d'inciter à la violence ou à la haine raciale ou ethnique, ou qui pourrait raisonnablement
        être considérée comme susceptible d'inciter à la violence</li>
    <li>que vous n'avez pas le droit de mettre à disposition légalement (comme des informations privilégiées, des
        informations qui appartiennent à quelqu'un d'autre ou des informations confidentielles)</li>
    <li>qui enfreint tout droit de propriété intellectuelle ou autre droit de propriété d'autrui</li>
    <li>qui comprend toute publicité non-sollicitée ou non-autorisée, tout matériel promotionnel, tout "pourriel", tout
        "spam", toute "chaîne de lettres", toute "opération pyramidale" ou toute autre forme de sollicitation</li>
    <li>qui contient des virus logiciels ou tout autre code informatique, fichiers ou programmes conçus pour
        interrompre, détruire ou limiter la fonctionnalité de tout logiciel, matériel informatique ou équipement de
        télécommunications</li>
</ul>

<p>Vous convenez que vous ne ferez rien parmi :</p>
<ul>
    <li>utiliser nos Services pour nuire à quiconque ou pour offenser ou harceler toute personne</li>
    <li>créer plus d'un compte par plateforme pour accéder à nos Services</li>
    <li>utiliser l'adresse email d'une autre personne ou entité pour s'inscrire à l'utilisation de nos Services</li>
    <li>utiliser nos Services à des fins frauduleuses ou abusives (y compris, sans s'y limiter, en utilisant nos
        Services pour usurper l'identité d'une personne ou d'une entité, ou faussement représenter votre affiliation
        avec une personne, une entité ou nos Services)</li>
    <li>déguiser, anonymiser ou cacher votre adresse IP ou la source de tout Contenu que vous pouvez télécharger</li>
    <li>utiliser nos Services à des fins commerciales ou d'affaires ou pour le bénéfice d'un tiers ou pour envoyer des
        communications non-sollicitées</li>
    <li>supprimer ou modifier tout avis de propriété ou autre information de propriété de nos Jeux ou de toute autre
        partie de nos Services</li>
    <li>interférer avec ou perturber nos Services ou les serveurs ou réseaux qui fournissent nos Services</li>
    <li>tenter de décompiler, d'effectuer de l'ingénierie inverse, de désassembler ou de pirater l'un de nos Services,
        ou d'annuler l'une de nos technologies de cryptage ou nos mesures de sécurité ou données transmises, traitées ou
        enregistrées par nous</li>
    <li>"récolter", "scraper" ou recueillir des informations sur ou concernant d'autres personnes qui utilisent nos
        Services, y compris, mais sans s'y limiter, des données ou informations personnelles (y compris en téléchargeant
        tout ce qui collecte des informations, y compris mais sans s'y limiter, des "cookies", des "pixels espions", des
        GIF ou des éléments similaires parfois aussi appelés "spyware" ou "PCMS" (mécanismes passifs de collecte)</li>
    <li>vendre, transférer ou essayer de vendre ou transférer un compte avec nous ou toute partie d'un compte, de
        l'Argent Virtuel et/ou des Biens Virtuels</li>
    <li>perturber le déroulement normal du Jeu ou agir d'une manière susceptible d'affecter négativement la capacité des
        autres joueurs à rivaliser équitablement lorsqu'ils jouent à nos jeux ou participent à des échanges en temps
        réel</li>
    <li>désobéir à toute exigence ou réglementation de tout réseau connecté à nos Services</li>
    <li>utiliser nos Services en violation de toute loi ou réglementation applicable</li>
    <li>utiliser nos Services pour tricher ou concevoir ou aider à tricher (par exemple, en utilisant des moyens
        automatisés ou des logiciels tiers pour jouer), ou pour contourner d'une autre manière des mesures
        technologiques conçues pour contrôler l'accès à nos Services ou à des éléments de ceux-ci, ou pour faire toute
        autre chose qu'une personne raisonnable est susceptible de croire non-conforme à l'esprit du fair play ou à ces
        Conditions</li>
    <li>utiliser nos Services de toute autre manière non-autorisée par les présentes Conditions d'Utilisation</li>
</ul>

<p>Nous ne contrôlons pas le Contenu publié sur nos Services par d'autres personnes et, par conséquent, nous ne
    garantissons pas l'exactitude, l'intégrité ou la qualité de ce Contenu. Vous comprenez que lorsque vous utilisez nos
    Services, vous pouvez être exposé à du Contenu que vous pouvez juger offensant, indécent ou répréhensible. En aucun
    cas, nous ne pourrons être tenus pour responsables en aucun cas pour tout Contenu, y compris, mais sans s'y limiter,
    toute erreur ou omission dans tout Contenu, ou toute perte ou omission dans tout Contenu, ou tout dommage de quelque
    nature que ce soit résultant de l'utilisation d'un Contenu publié, envoyé par email, transmis ou autrement rendu
    disponible via nos Services.</p>
<p>Nous avons le droit de retirer le Contenu publié de nos Services si nous décidons, à notre seule discrétion, qu'il en
    résulte une violation de toute partie de ces conditions ou qu'il peut nous discréditer, nous ou nos Services.
    Toutefois, vous reconnaissez que nous ne surveillons pas activement le Contenu fourni par les personnes qui
    utilisent nos Services et nous ne nous engageons pas à le faire.</p>
<p>Vous êtes seul responsable de vos interactions avec les autres utilisateurs de nos Services, y compris le contenu que
    vous partagez sur les médias sociaux (le contenu fait référence à la capture d'image du Jeu, les scores, le niveau
    atteint, etc).</p>


<h2>Résiliation</h2>
<p>Nous pouvons résilier ou suspendre l'accès à notre Service immédiatement, sans préavis ni responsabilité, pour
    quelque raison que ce soit, y compris, mais sans s'y limiter, si vous enfreignez les Conditions.</p>
<p>Toutes les dispositions des Conditions qui, de par leur nature, devraient survivre à la résiliation, survivront à la
    résiliation, y compris, mais sans s'y limiter, les dispositions relatives à la propriété, les exclusions de
    garantie, l'indemnisation et les limitations de responsabilité.</p>
<p>Nous pouvons résilier ou suspendre votre compte immédiatement, sans préavis ni responsabilité, pour quelque raison
    que ce soit, y compris, sans s'y limiter, si vous enfreignez les Conditions.</p>
<p>En cas de résiliation, votre droit d'utiliser le Service cessera immédiatement. Si vous souhaitez résilier votre
    compte, vous pouvez simplement cesser d'utiliser le Service.</p>


<h2>Disponibilité des services</h2>
<p>Nous ne garantissons pas que l'un de nos services sera disponible en tout temps ou à tout moment, ni que nous
    continuerons d'offrir la totalité ou une partie de nos services pendant une période donnée. Nous pouvons modifier et
    mettre à jour nos Services sans préavis. Nous ne donnons aucune garantie ou représentation concernant la
    disponibilité de nos Services et nous nous réservons le droit de modifier ou d'interrompre les Services à notre
    seule discrétion et sans préavis, y compris, par exemple, de cesser un Jeu ou un autre Service pour des raisons
    économiques en raison du nombre limité d'utilisateurs qui continuent à utiliser ce Jeu ou autre Service dans le
    temps, pour des raisons techniques (comme des difficultés techniques rencontrées par nous ou sur Internet) ou pour
    améliorer notre expérience utilisateur.
</p>
<p>VOUS RECONNAISSEZ ET ACCEPTEZ QUE L'UN OU L'AUTRE DE NOS SERVICES PEUT ÊTRE RÉSILIÉ EN TOUT OU EN PARTIE, À NOTRE
    SEULE DISCRÉTION ET SANS PRÉAVIS. VOUS ASSUMEZ TOUS LES RISQUES DE PERTE ASSOCIÉS À LA RÉSILIATION DE NOS SERVICES.
</p>
<p>Nous ne garantissons pas que l'un de nos Services sera disponible ou exempt d'erreurs en tout temps ou à tout moment
    donné. Nous fournirons nos services conformément aux normes légales en vigueur. En particulier, en ce qui concerne
    uniquement l'Argent Virtuel et/ou les Biens Virtuels ou toute autre partie de nos services qui ont été payés avec de
    l'argent réel, nous garantissons qu'ils seront conformes en substance à la description fournie par elle au point
    d'achat et seront de qualité satisfaisante (en outre, tous les services connexes fournis par leur intermédiaire
    seront fournis avec soin et compétence raisonnables). Nous pouvons modifier et mettre à jour nos Services en tout ou
    partie sans préavis (à condition que ces modifications n'entraînent pas une dégradation matérielle de la
    fonctionnalité de toute partie des Services qui a été payée en argent réel). Nous ne donnons aucune garantie ou
    représentation concernant la disponibilité des Services qui sont fournis gratuitement (c'est-à-dire qui ne sont pas
    payés en argent réel) et nous nous réservons le droit de les modifier ou de les interrompre à notre seule discrétion
    sans préavis, notamment pour des raisons économiques dues, par exemple, au nombre limité d'utilisateurs qui les
    utilisent dans le temps, pour des raisons techniques (comme les difficultés techniques auxquelles nous sommes
    confrontés ou sur Internet) ou pour améliorer notre expérience utilisateur. Nous ne sommes pas responsables de tout
    défaut d'exécution ou retard dans l'exécution de nos obligations causé par des événements hors de notre contrôle
    raisonnable. Si de telles circonstances entraînent une dégradation matérielle de la fonctionnalité des Services,
    toute obligation que vous pourriez avoir d'effectuer un paiement pour les télécharger, les utiliser ou y accéder
    sera suspendue pour la durée de cette période. Nous avons le droit de modifier ou d'interrompre les Services ou
    toute partie de ceux-ci qui sont payés avec de l'argent réel, à notre seule discrétion et moyennant un préavis
    raisonnable.</p>


<h2>Loi en vigueur</h2>
<p>Les présentes Conditions sont régies et interprétées conformément au droit français, sans tenir compte de ses
    dispositions relatives aux litiges juridiques.</p>
<p>Le fait que nous ne fassions pas valoir un droit ou une disposition des présentes Conditions ne sera pas considéré
    comme une renonciation à ces droits. Si une disposition des présentes Conditions est jugée invalide ou inapplicable
    par un tribunal, les autres dispositions des présentes Conditions demeurent en vigueur. Les présentes Conditions
    constituent l'intégralité de l'accord entre nous concernant notre Service, et remplacent tout accord antérieur que
    nous pourrions avoir entre nous concernant le Service.</p>
<p>Vous acceptez de nous indemniser, conformément à la loi, pour toutes les pertes, dommages, réclamations et dépenses
    qui peuvent découler de toute violation de ces conditions par vous.</p>
<p>NOUS NE SOMMES PAS TENUS RESPONSABLES DES DOMMAGES PARTICULIERS, FORTUITS OU INDIRECTS RÉSULTANT DE LA POSSESSION, DE
    L'UTILISATION OU DU MAUVAIS FONCTIONNEMENT DES JEUX OU DE TOUT AUTRE SERVICE, Y COMPRIS LES DOMMAGES MATÉRIELS, LES
    PANNES OU DYSFONCTIONNEMENTS INFORMATIQUES ET, DANS LA MESURE OÙ LA LOI LE PERMET, LES DOMMAGES POUR BLESSURES
    CORPORELLES, MÊME SI NOUS AVONS ÉTÉ INFORMÉS DE LA POSSIBILITÉ DE CES DOMMAGES. EN AUCUN CAS NOTRE RESPONSABILITÉ NE
    POURRA EXCÉDER LE PRIX RÉEL PAYÉ PAR VOUS (LE CAS ÉCHÉANT) POUR LA LICENCE D'UTILISATION DE BIENS VIRTUELS OU
    D'ARGENT VIRTUEL OU DE TOUTE AUTRE PARTIE DE NOS JEUX OU SERVICES. CERTAINS ÉTATS N'AUTORISENT PAS LA LIMITATION DE
    LA DURÉE D'UNE GARANTIE IMPLICITE ET/OU L'EXCLUSION OU LA LIMITATION DES DOMMAGES, DE SORTE QUE LES LIMITATIONS
    ET/OU EXCLUSIONS CI-DESSUS PEUVENT NE PAS VOUS CONCERNER. CETTE GARANTIE VOUS DONNE DES DROITS LÉGAUX SPÉCIFIQUES,
    ET VOUS POUVEZ AVOIR D'AUTRES DROITS QUI VARIENT D'UNE JURIDICTION À L'AUTRE.</p>


<h2>Responsabilité limitée</h2>
<p>Nous déclinons toute responsabilité en cas de décès ou de dommages corporels résultant de notre négligence ou de
    toute autre responsabilité, à l'exception de la responsabilité qui ne peut être exclue par la loi.</p>
<p>En particulier, nous ne sommes pas responsables de :</p>
<ul>
    <li>des pertes ou dommages qui ne sont pas causés par notre violation de ces termes ou par négligence</li>
    <li>les pertes ou dommages qui ne sont pas raisonnablement prévisibles par vous et nous au moment où vous acceptez
        ces termes et conditions, y compris les pertes qui surviennent comme un effet secondaire des pertes prévisibles.
        Il peut s'agir d'une perte de données, d'une perte d'opportunité, d'une interruption de service, d'une panne
        d'ordinateur ou d'un autre appareil ou d'une perte financière</li>
    <li>tout dommage pouvant être causé à tout appareil sur lequel vous accédez ou utilisez l'un de nos Jeux ou autres
        Services et qui est causé de quelque manière que ce soit par nos Services, à moins que ce dommage ne soit
        directement causé par notre incapacité à exercer une compétence et un soin raisonnables dans la distribution des
        Jeux ou autres Services applicables</li>
    <li>toute augmentation des pertes ou dommages résultant d'un manquement de votre part à l'une de ces Conditions</li>
    <li>défaillances techniques ou le manque de disponibilité de l'un de nos Services lorsque celles-ci ne sont pas sous
        notre contrôle raisonnable</li>
</ul>

<p>Sous réserve du paragraphe ci-dessous et sauf indication contraire dans les présentes Conditions, nous ne donnons
    aucune garantie, expresse ou implicite, relativement à nos Services et vous reconnaissez que votre seul droit à
    l'égard de tout problème ou insatisfaction à l'égard de nos Services est de cesser d'utiliser nos Services.</p>
<p>Tous les droits légaux supplémentaires que vous pouvez avoir en tant que consommateur ne sont pas affectés par ces
    Conditions.</p>


<h2>Propriété intellectuelle</h2>
<p>Vous reconnaissez que tous les droits d'auteur, marques de commerce et autres droits de propriété intellectuelle
    relatifs à nos services nous appartiennent ou nous sont concédés sous licence.</p>
<p>Tant que vous êtes en conformité avec ces Conditions, nous vous accordons une licence limitée non-exclusive,
    non-transférable, personnelle et révocable pour accéder et/ou utiliser nos Services (mais pas tout objet ou code
    source associé) pour votre usage personnel et privé, dans chaque cas à condition que cet usage soit conforme à ces
    Conditions. Vous acceptez de ne pas utiliser nos Services pour autre chose. Ces Conditions s'appliquent également à
    toute mise à jour ou à tout correctif que nous pouvons publier ou rendre disponible pour l'un des Services et toute
    mise à jour ou tout correctif sera considéré comme faisant partie des Services aux fins des présentes Conditions.
</p>
<p>VOUS RECONNAISSEZ ET ACCEPTEZ QUE, À L'EXCEPTION DE LA LICENCE QUI VOUS EST ACCORDÉE PAR LES PRÉSENTES CONDITIONS,
    VOUS N'AVEZ AUCUN DROIT DE PROPRIÉTÉ OU DE JOUISSANCE SUR NOS SERVICES, NOTAMMENT LES COMPTES EN LIGNE, TOUT ARGENT
    VIRTUEL OU BIEN VIRTUEL. Vous ne devez pas copier, distribuer, mettre à la disposition du public ou créer une œuvre
    dérivée de nos Services ou d'une partie de nos Services sans notre accord écrit préalable.</p>
<p>En particulier, vous ne devez pas utiliser ou mettre à disposition des tricheries ou des mesures technologiques
    conçues pour contrôler les accès, ou les éléments de nos Services, y compris l'accès à de l'Argent Virtuel et/ou des
    Biens Virtuels, gratuitement ou non.</p>


<h2>Modifications de ces conditions</h2>
<p>Nous nous réservons le droit, à notre seule discrétion, de modifier ou de remplacer ces Conditions à tout moment. Si
    une révision est importante, nous essaierons de donner un préavis d'au moins 30 jours avant l'entrée en vigueur de
    toute nouvelle conditions. Ce qui constitue un changement important sera déterminé à notre seule discrétion.</p>
<p>En continuant d'accéder ou d'utiliser notre Service après l'entrée en vigueur de ces révisions, vous acceptez d'être
    lié par les conditions révisées. Si vous n'acceptez pas les nouvelles conditions, veuillez cesser d'utiliser le
    Service.</p>


<h2>Transfert de ces Conditions</h2>
<p>Nous pouvons souhaiter transférer tout ou partie de nos droits ou responsabilités en vertu des présentes Conditions à
    une autre personne sans obtenir votre consentement. Vous acceptez que nous puissions le faire à condition que le
    transfert ne vous désavantage pas de manière significative. Vous ne pouvez transférer aucun des droits que nous vous
    accordons en vertu des présentes Conditions à moins que nous n'y consentions par écrit au préalable.</p>


<h2>Contactez-nous</h2>
<p>Si vous avez des questions à propos de ces Conditions Générales d'Utilisation, n'hésitez pas à nous contacter par
    email à <a href="mailto:legal@hexasnap.com">legal@hexasnap.com</a>.</p>